@model pim_sistema_folha.Models.FuncionarioFolhaViewModel
@{
    ViewData["Title"] = "Gerar Folha de Pagamento";
}


<div class="row" style="max-width: 100%">
    <div class="col-md-2 dados">
        <h4>Dados do funcionário</h4>

        <img src="~/images/profile.png" class="profile" />

        <p>@Model.Funcionario.Nome @Model.Funcionario.Sobrenome</p>
        <p>@Model.Funcionario.DataNasc.ToShortDateString()</p>
        <p>@Model.Funcionario.Cargo</p>
        <p>CPF: @Model.Funcionario.Cpf</p>

        <button class="btn btn-default btn-logout"><a asp-action="Logout">Sair</a></button>
    </div>
    <div class="col-md-3 central">
        <h4>Central de ações</h4>

        <button class="btn-central-selected"><a asp-action="GerarFolhaDePagamento">Gerar Folha de Pagamento</a></button>
        <button class="btn-central"><a asp-action="HistoricoDeFolhaDePagamento">Histórico de Folha de Pagamento</a></button>
    </div>
    <div class="col-md-6 content">
        <h3>Gerar Folha de Pagamento</h3>
        <p>Sua folha de pagamento sairá assim:</p>

        <div class="folha">
            <div class="topo-folha">
                <h4>Empresa X - Holerite</h4>

                <p>@Model.Funcionario.Nome @Model.Funcionario.Sobrenome</p>
                <p>@Model.Funcionario.Cpf</p>
                <p>@Model.Funcionario.Cargo</p>
            </div>

            <table class="text-center corpo-folha">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 150px">Descrição</th>
                        <th class="text-center">Extra</th>
                        <th class="text-center">Desconto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.FolhaPagamento.ExtrasDescontos)
                    {
                        <tr>
                            <td>@item.Descricao</td>
                            @if (item.Valor >= 0)
                            {
                                <td class="text-info">R$ @item.Valor</td>
                                <td></td>
                            }
                            else {
                                <td></td>
                                <td class="text-danger">R$ @Math.Abs(item.Valor)</td>
                            }
                        </tr>
                    }
                </tbody>

                <tfoot>
                    <tr>
                        <td rowspan="2" style="text-align: left">Mensagem: </td>
                        <td>Total Extras: R$ @Model.FolhaPagamento.TotalExtra</td>
                        <td>Total Descontos: R$ @Math.Abs(Model.FolhaPagamento.TotalDesconto)</td>
                    </tr>
                    <tr>
                        <td>Liq. A Receber</td>
                        <td>R$ @Model.FolhaPagamento.TotalLiquido</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>